* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: aqua;
    height: 50vh;
    max-width: 60vw;
    border: 2px solid blueviolet;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.container h1 {
    margin-bottom: 1rem;
}

.container .input-div {
    display: flex;
    flex-direction: column;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container .input-div input {
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

.container .input-div #oper-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
}

.container .input-div #oper-div #result {
    font-size: 22px;
    color: #212020;
    font-weight: 600;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.container .input-div #oper-div #operator {
    width: 3rem;
}

.container .input-div input {
    font-size: 22px;
    padding: 5px;
}

.container .input-div button[type="submit"] {
    background-color: rgb(233, 70, 70);
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.container .input-div button[type="submit"]:hover {
    color: #361eeb;
    background-color: #FFFFFF;
    border: 2px solid #361eeb;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.container .input-div .operation {
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .input-div .operation span {
    background-color: #FFFFFF;
    border: 2px solid gray;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}