* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 2rem;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: aquamarine;
    display: flex;
}

div img {
    width: 90vh;
    height: 70vh;
}